body {
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("pexels-photo-289378.jpeg");
	background-size: cover;
}
.mainrow{
	width: 90%;
	margin: 0px 60px 0px 60px; 
}
ul {
	list-style-type: none;
	margin-left: 0px;
	overflow: auto;
	background-color: #b19228;
}
li a {
	display: block;
	color: black;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 30px;
}
/*<div class = "row">*/
.row {
	background-color: #70323f;
    margin: 50px 140px 150px 220px;
    height: 50px;
    display: table;
    clear: both;
}
.roundedCorner { 
	width: 400px;
    height: 250px;
    margin: 50px 90px 30px 90px;
    border: solid 1px green;
    background-color: #eed;
    float: left;
}
.rowInrow {
	background-color: #b19228;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 50px;
    clear: both;
}
.rowInrow h1{
	margin: 0px 0px 0px 0px;
}
.footer {
    position: fixed;
    width: 62%;
    margin-left: 220px;
    padding: 12px 12px;
    background-color: #b19228;
    color: black;
}
.registerRoundedCorner{
	width: 800px;
    height: 200px;
    margin: 50px 20px 30px 20px;
    border: solid 1px #b19228;
    background-color: #eed;
    float: left;
}