<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>home page</title> 
			<link rel="stylesheet" type="text/css" href= "Static/styles/style.css">
		</head> 
		<body>
			<div class = "mainrow gridContainer">
				<div class =firstRow>
					<div class = "roundedCorner">
						<div class = "rowInrow">
							<h1><a href="register.html">Sign up</a></h1>
						</div>					
					</div>
					<div class = "roundedCorner">
						<div class = "rowInrow">
							<h1><a href="login.html">Log in</a></h1>
						</div>
					</div>
				</div>
				<div class = "secondRow">
					<div class = "home">
						<p id = space><b>Home<b></p>
					</div>
				</div>
			</div>
			

		</body>
	</html>