<!doctype html>
	<html>
		<head>
			<meta charset="utf-8"> 
			<link rel="stylesheet" type="text/css" href= "Static/styles/style.css">
		</head> 
		<body>
			<ul>
			 	<li><a href="Index.html"><b>Home</b></a></li>
			</ul>
			<div class = "row">
				<div class = "roundedCorner">
					<div class = "rowInrow">
						<h1>Sign up!</h1>
					</div>					
				</div>
				<div class = "roundedCorner">
					<div class = "rowInrow">
						<h1>Log in!</h1>
					</div>
				</div>
			</div>
			<!-- <div class="footer">
				<p>Footer</p>
			</div> -->

		</body>
	</html>