<!doctype html>
	<html>
		<head>
			<meta charset="utf-8"> 
			<link rel="stylesheet" type="text/css" href= "Static/styles/style.css">
		</head> 
		<body>
			<ul>
				<li><a href="Index.html"><b>Home</b></a></li>
			</ul>
			<div class = "row">
				<div class = "registerRoundedCorner">
					<div class = "rowInrow">
						<h1>Sign up!</h1><br>
						<div class="rowForm">

							<form >
								First Name: <input type="text" name="firstname"><br>
								
								Last Name: <input type="text" name="lastname"><br>
								
								Email: <input type="text" name="email"><br>
								Password: <input type="password" name="password"><br>
								Repeat Password: <input type="password" name="password">
							 </form>
							  
						</div>
					</div>					
				</div>
			</div>
			<!-- <div class="footer">
				<p>Footer</p>
			</div> -->

		</body>
	</html>