<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>View entries</title> 
			<link rel="stylesheet" type="text/css" href= "Static/styles/style.css">
		</head> 
		<body>
			<div class = "mainrow gridContainer">
				<ul>
					<li><a href="index.html"><b>Home</b></a></li>
					<li><a href="profile.html"><b>Your profile</b></a></li>
					<!-- <li><a href="login.html"><b>Log in</b></a></li>
					<li><a href="login.html"><b>Log in</b></a></li> -->
				</ul>
				<div class =firstRow>
					<div class = "roundedCorner entry">
						<div class = "rowInrow">
							<h1>Entry 1</h1>
						</div>					
					</div>
					<div class = "roundedCorner entry">
						<div class = "rowInrow">
							<h1>Entry 2</h1>
						</div>
					</div>
					<div class = "roundedCorner entry">
						<div class = "rowInrow">
							<h1>Entry 3</h1>
						</div>					
					</div>
					<div class = "roundedCorner entry">
						<div class = "rowInrow">
							<h1>Entry 4</h1>
						</div>
					</div>
				</div>
				<div class =firstRow>
					<div class = "roundedCorner entry">
						<div class = "rowInrow">
							<h1>Entry 5</h1>
						</div>					
					</div>
					<div class = "roundedCorner entry">
						<div class = "rowInrow">
							<h1>Entry 6</h1>
						</div>
					</div>
					<div class = "roundedCorner entry">
						<div class = "rowInrow">
							<h1>Entry 7</h1>
						</div>					
					</div>
					<div class = "roundedCorner entry">
						<div class = "rowInrow">
							<h1>Entry 8</h1>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>